spring:
  profiles:
    active: prod

  application:
    name: board-service
  main:
    allow-bean-definition-overriding: true
  jpa:
    properties:
      hibernate:
        default_batch_fetch_size: 1000

server:
  port: 8080

kafka:
  hosts: localhost:9092

  cache:
    jcache:
      config: classpath:ehcache.xml

yolo:
  service:
    host: 192.168.0.13
    port: 1341


eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    instance-id: board-service-instance
